<section id="middle"></section>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<form (ngSubmit)="onSubmit(f)" #f="ngForm">
				<div class="form-group">
					<label for="hotelname">Hotel Name</label>
					<input type="text" name="hotelname" id="hotelname" class="form-control" ngModel>
					<label for="pincode">Pin Code</label>
					<input type="text" name="pincode" id="pincode" class="form-control" ngModel>
					<label for="lat">Latitude</label>
					<input type="text" name="lat" id="lat" class="form-control" ngModel>
					<label for="long">Longitude</label>
					<input type="text" name="long" id="long" class="form-control" ngModel>
					<label for="contact">Contact Number</label>
					<input type="text" name="contact" id="contact" class="form-control" ngModel>		
				</div>
				<button class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>	
</div>
